@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Raleway|Sarabun");

.form-inline {
  display: inline;
  margin: 8px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.btn {
  height: 48px;
  border: 3px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Tillium Web" "sans serif";
  &:hover {
    cursor: pointer;
  }

  &.btn-primary {
    background-color: rgb(52, 102, 102);
    color: white;
    &:hover {
      color: whitesmoke;
      background-color: rgb(30, 59, 59);
    }
  }
}
.f-tillium {
  font-family: "Tillium Web" "sans serif";
}
.f-montserrat {
  font-family: 'Montserrat', 'sans serif';
}

.p-1 {
  padding: 10px;
}
